.responsive-image{
    max-width: 100%;
    height: auto;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    margin: -10px;
}

.card {
    width: calc(25% - 20px); /* 25% width for four columns with spacing */
    margin: 10px; /* Add margin for spacing between cards */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 5px;
    box-sizing: border-box;
    text-align: center;
    background-color: #f4eae1;
}
  
/* Add rounded corners to the top left and the top right corner of the image */
img {
    display: block;
    margin: 0 auto;
    border-radius: 5px 5px 0 0;
}
  
/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
  
/* Add some padding inside the card container */
.container {
    padding: 2px 16px;
}

/* Media query for responsiveness - change to two columns when window size is reduced */
@media (max-width: 768px) {
    .card {
        width: calc(50% - 20px); /* 50% width for two columns with spacing */
    }
}

/* Set a style for all buttons */
button {
    background-color: #594d40;
    color: #ffffff;
    padding: 10px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: auto;
}

/* Change the background color to match your color scheme */
.topnav {
    position: sticky;
    top: 0;
    background-color: #D2C1B1; /* Your desired background color */
    overflow: hidden;
    z-index: 100; /* Ensures it's on top of other content */
}
  
/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: #594D40; /* Deeper earthy tone from the color palette */
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
  
/* Change the color of links on hover */
.topnav a:hover {
    background-color: #E1D6C7; /* Lighter, muted color from the palette */
    color: #594D40; /* Deeper earthy tone for contrast */
}
  
/* Add an active class to highlight the current page */
.topnav a.active {
    background-color: #594D40;
    color: white;
}
  
/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
}  

.sticky-banner {
    position: sticky;
    top: 0;
    z-index: 99; /* A lower z-index to stay behind the navigation bar */
  }