{% extends 'index_emp.html' %}

{% block body %}
{% if application %}
<h1>My Application</h1>
    <br>
    <div class="card">
        <div class="container">
            <h3><b>Software Developer Internship</b></h3>
            <p>
                <b>TechSolutions Inc.</b><br>
                Kuala Lumpur, Malaysia<br>
                <br>
                <b>Job Description</b>
                <br>TechSolutions Inc. is offering an exciting opportunity for Software Developer Interns or Fresh Graduates to join our dynamic team in Kuala Lumpur. You will play a key role in learning and contributing to the development of cutting-edge software solutions. Your responsibilities will include software development, code reviews, and collaborating with experienced team members to deliver high-quality software products.<br>
                <br>
            </p>
            <h3><b>Application Status:</b> <span id="status">{{ application }}</span></h3>
        </div>
        <img src="/static/css/images/border.png" alt="Image" class="bottom-right-image">
    </div>
{% else %}
    <a href = '/home'>Apply your dream job now!!!</a>
{% endif %}
{% endblock %}