{% extends 'index_hr.html'%}

{% block body %}

<h1>Candidates</h1>

{% if candidates %}
    {% for candidate_key, candidate_data in candidates.items() %}
      <div class="card candidate-card">
        <div class="container">
          <h3 class="candidate-name">{{ candidate_data.name }}</h3>
          <ul>
            <li><a href="{{ candidate_data.resume }}" class="resume-link">Link to Resume</a></li>
            <li>Grade: {{ candidate_data.grade }}</li>
            <li>Status: {{ candidate_data.status  }}</li>
          </ul>

          <input type="submit" class="accept-btn btn btn-primary" value="Accept">
          <input type="submit" class="contact-btn btn btn-primary" value="Contact for Interview">
          <input type="submit" class="reject-btn btn btn-primary" value="Reject">
          <br>
          <img src="/static/css/images/border.png" alt="Image" class="bottom-right-image">
        </div>
      </div>
      <br>
    {% endfor %}

    <script>
      // Add this script to handle button clicks using event delegation
      $(document).ready(function () {
        $(".candidate-card").on("click", ".accept-btn, .contact-btn, .reject-btn", function () {
          var button = $(this);
          var card = button.closest(".candidate-card");
          var candidateName = card.find(".candidate-name").text();
  
          $.ajax({
            type: "POST",
            url: "/update_status",
            data: {
              status: button.val(),
              candidateName: candidateName
            },
            success: function (response) {
              console.log(response);
              // You can update the UI or perform other actions here if needed
              // button.hide();
              card.find(".status").text(response).show();
            }
          });
        });
      });
    </script>

{% else %}
    <p>There are no suitable candidates at the moment. Please check again later.</p>
{% endif %}
{% endblock%}