<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <title>TalentSync Hub</title>
</head>
<body>

    <nav class = "navbar navbar-dark bg-primary">
        <div class = "container">
            <a href="/home" class = "navbar-brand">
                <h3 class = "display-7">TalentSync Hub</h3>
            </a>
            <ul class = "navbar-nav">
                <li class = "nav-item" >
                    <a class = "nav-link" href = "/my_application">My Application</a>
                </li>
                <li class = "nav-item" >
                    <a class = "nav-link" href = "/">Log Out</a>
                </li>
            </ul>
        </div>
    </nav>

    <br>

    <!-- Display username if available -->
    {% if username %}
    <div class="container">
        <h1>Welcome, {{ username }}!</h1>
        <h3>Land your dream job here!!!</h3>
    </div>
    {% endif %}

    <br>

    <div class = "container">
        {% block body %}
        <div class = "card">
            <div class = "container">
                <h3><b>Software Developer Internship</b></h3>
                <p>
                    <b>TechSolutions Inc.</b><br>
                    Kuala Lumpur, Malaysia<br>
                    <br>
                    <b>Job Description</b>
                    <br>TechSolutions Inc. is offering an exciting opportunity for Software Developer Interns or Fresh Graduates to join our dynamic team in Kuala Lumpur. You will play a key role in learning and contributing to the development of cutting-edge software solutions. Your responsibilities will include software development, code reviews, and collaborating with experienced team members to deliver high-quality software products.<br>
                    <br>
                    
                    <b>Job Qualification</b>
                    <ul>
                        <li>Bachelor's degree in Computer Science or a related field (for fresh graduates)</li>
                        <li>No prior work experience required (for interns and fresh graduates)</li>
                        <li>Proficiency in at least one programming language</li>
                        <li>Strong problem-solving skills and a passion for software development</li>
                        <li>Eagerness to learn and adapt in a fast-paced environment</li>
                        <li>Excellent communication and teamwork skills</li>
                    </ul>
    
                    <button type="submit" onclick="apply()" id="apply">Apply</button>
                </p>
            </div>
        </div>
        {% endblock body %}
    </div>

    <script>
        function apply(){
            window.location.href = '/application';
        }
    </script>
</body>
</html>